ErrorDocument 400 /400.shtml
ErrorDocument 403 /403.shtml
ErrorDocument 404 /404.shtml
ErrorDocument 500 /500.shtml


# MAINTENANCE-PAGE REDIRECT
<IfModule mod_rewrite.c>
 RewriteEngine off
 RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
 RewriteCond %{REQUEST_URI} !/maintenance/$ [NC]
 RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
 RewriteRule .* /maintenance [R=302,L]
 RewriteRule /links /#socials [R=302,L]

</IfModule>
Redirect 303 /links http://mvoorhies.tk/#socials
RedirectMatch 303 ^/$ http://mvoorhies.com
